@import './variables';
@import './templates';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $mainFf;
    font-size: 16px;
    color: $colorMain;
    line-height: 1;

    padding-top: 116px;

    @media(max-width: 1280px) {
        padding-top: 106px;
    }

    @media(max-width: 1024px) {
        padding-top: 112px;        
    }
}

ul {
    list-style-type: none;
}

a {
    color: $colorMain;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button, select, input, textarea {
    border: none;
    background: transparent;
    outline: none;
}

input, textarea {
    border-radius: 20px;
    padding: 20px 28px;
    background: #f5f3f3;

    color: $colorMain;
    font-family: $mainFf;
    line-height: 1.4;
    font-size: 16px;

    display: block;

    &:focus {
        border: 1px solid $colorMain;
    }
}

input::placeholder, 
textarea::placeholder {
    color: #6B6B6B;
}

section {
    padding-bottom: 96px;

    @media(max-width: 768px) {
        padding-bottom: 48px;   
    }
}

.container {
    max-width: 1294px;
    padding: 0 92px;
    margin: 0 auto;

    @media(max-width: 1280px) {
        max-width: none;
        padding: 0 32px;
    }

    @media(max-width: 1024px) {
        padding: 0 24px;   
    }

    @media(max-width: 768px) {
        padding: 0 15px;
    }
}

h1 {
    font-size: 52px;
    font-weight: 500;

    @media(max-width: 1024px) {
        font-size: 42px;
    }

    @media(max-width: 768px) {
        font-size: 32px;   
    }
}

h2 {
    font-size: 48px;
    font-weight: 500;

    @media(max-width: 1024px) {
        font-size: 36px;    
    }

    @media(max-width: 768px) {
        font-size: 32px;
        line-height: 1.2;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

.button {
    @extend %flex-center;
    
    background-color: #F1960C;
    display: inline-flex;
    padding: 16px 60px;
    border-radius: 100px;
    
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;

    width: max-content;

    transition: background-color .3s linear;

    &:hover, &:focus {
        background-color: $colorAccent;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 48px;

    @media(max-width: 1024px) {
        margin-bottom: 32px;   
    }

    @media(max-width: 768px) {
        margin-bottom: 24px;   
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;

    img, .social__img {
        border-radius: 100%;
        border: 1.5px solid $colorAccent;
        padding: 6px;
    }
}

.burger {
    width: 25px;
    height: 25px;
    align-self: start;
    position: relative;
    display: none;

    @media(max-width: 1024px) {
        display: block;
    }

    span {
        width: 25px;
        height: 4px;
        border-radius: 100px;
        background-color: $colorAccent;
        position: relative;
        display: block;

        &::before, &::after {
            content: '';

            width: 25px;
            height: 4px;
            border-radius: 100px;
            background-color: $colorAccent;

            display: block;

            position: absolute;
            left: 0;
        }

        &::before {
            top: 10px;
        }

        &::after {
            top: 20px;
        }
    }
}

.burger-menu {
    position: absolute;

    top: 20px;
    right: 20px;

    width: 32px;
    height: 32px;

    &::before, &::after {
        content: '';

        position: absolute;
        left: 0;
        top: 50%;

        display: block;
        width: 100%;
        height: 4px;

        border-radius: 100px;
        background-color: $colorAccent; 
    }

    &::before {
        transform: translateY(-50%) rotate(45deg)
    }

    &::after {
        transform: translateY(-50%) rotate(135deg);
    }
}

.menu-opened {
    overflow: hidden;
}
